hoist-pattern[]=ts-node # package/indie: postcss-load-config
hoist-pattern[]=postcss # package/indie
hoist-pattern[]=pug # playground/tailwind: @vue/compiler-sfc
shell-emulator=true
auto-install-peers=false